{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/kindergarten_logo.png' %}" alt="kindergarten_logo.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Početna</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="programiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Programi
                </a>
                <div class="dropdown-menu" aria-labelledby="programiDropdown">
                    {% for vrsta_programa in vrtic.vrstaprograma_set.all %}
                    <a class="dropdown-item" href="#">
                        {{ vrsta_programa }}
                    </a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Događaji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upisi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">O nama</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="racunDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_full_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="racunDropdown">
                    <a class="dropdown-item" href="{% url 'racuni:odjava' %}">Odjava</a>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'racuni:popis' %}">Računi</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="dropdown-item" href="{% url 'racuni:prijava' %}">Prijava</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
</nav>
