{% load static %}
{% load vrtic_extras %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'vrtic:home' %}">
        <img src="{% static 'images/kindergarten_logo.png' %}" alt="kindergarten_logo.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'vrtic:home' %}">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'programi:popis-vrsta-programa' %}">Programi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dogadjaji:popis' %}">Događaji</a>
            </li>
            {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upisi:popis' %}">Upisi</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upisi:stvori' %}">Upisi</a>
            </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="#">O nama</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
            {% if user.racun.tip_racuna.je_roditelj %}
            {% for dijete in user.racun.dijete_set.all %}
            {% if dijete.ceka_suglasnost %}
            <li class="nav-item">
                <a class="nav-link text-danger" href="{% url 'djeca:prikaz' dijete.id %}">Suglasnost za {{ dijete.get_full_name }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djeca:popis' %}">Djeca</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'racuni:popis' %}">Računi</a>
            </li>     
            {% endif %}    
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="racunDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_full_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="racunDropdown">
                    <a class="dropdown-item" href="{% url 'racuni:odjava' %}">Odjava</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="dropdown-item" href="{% url 'racuni:prijava' %}">Prijava</a>
            </li>
            {% endif %}
            
        </ul>
    </div>
</nav>
