<div class="container-fluid mt-2 mb-2 pr-2 pl-2">
    <nav class="navbar subnavbar navbar-expand-lg navbar-dark bg-dark m-auto" style="border-radius: 20px;">

        <a class="navbar-brand" href="#">
            {{ title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubnav" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-angle-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSubnav">
            <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated and user.is_superuser or user.racun.je_djelatnik %}
                {% if type == "list" and type_name == "racuni" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="racunDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle"></i>
                        <span>Dodaj račun</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="racunDropdown">
                        <a class="dropdown-item" href="{% url 'racuni:stvori-djelatnik' %}">
                            <i class="fas fa-plus-circle"></i>
                            <span>Novi djelatnik</span>
                        </a>
                        <a class="dropdown-item" href="{% url 'racuni:stvori-roditelj' %}">
                            <i class="fas fa-plus-circle"></i>
                            <span>Novi roditelj</span>
                        </a>
                    </div>
                </li>
                {% elif type == "list" and type_name == "dogadjaji" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:stvori' %}">
                        <i class="fas fa-plus-circle"></i>
                        <span>Dodaj događaj</span>
                    </a>
                </li>
                {% elif type == "list" and type_name == "djeca" %}
                {% elif type == "list" and type_name == "upisi" %}
                {% elif type == "list" and type_name == "vrsta_programa" %}
                {% elif type == "list" and type_name == "programi" %}
                {% elif type == "detail" and type_name == "upisi" %}
                {% if object.odobren is None %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upisi:uredi' upis.id %}">
                        <i class="fas fa-check text-success"></i>
                        <span>Odobri upis</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upisi:uredi' upis.id %}">
                        <i class="fas fa-times text-danger"></i>
                        <span>Odbaci upis</span>
                    </a>
                </li>
                {% endif %}
                {% elif type == "detail" and type_name == "djeca" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djeca:stvori-napredak' object.id %}">
                        <i class="fas fa-comment-dots"></i>
                        <span>Zabilježi napredak</span>
                    </a>
                </li>
                {% elif type == "detail" and type_name == "dogadjaji" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:suglasnost-popis' object.id %}">
                        <i class="fas fa-list"></i>
                        <span>Prikaži suglasnosti</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:uredi' object.id %}">
                        <i class="fas fa-pen"></i>
                        <span>Uredi događaj</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:izbrisi' object.id %}">
                        <i class="fas fa-trash"></i>
                        <span>Izbriši događaj</span>
                    </a>
                </li>
                {% elif type == "detail" and type_name == "suglasnosti" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:suglasnost-uredi' suglasnost.dogadjaj.id suglasnost.id %}">
                        <i class="fas fa-check text-success"></i>
                        <span>Odobri</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dogadjaji:suglasnost-uredi' suglasnost.dogadjaj.id suglasnost.id %}">
                        <i class="fas fa-times text-danger"></i>
                        <span>Odbaci</span>
                    </a>
                </li>
                {% elif type == "form" %}
                {% endif %}
                
            {% else %}

            {% endif %}
                
            </ul>
        </div>
        
    </nav>
</div>

{% include 'messages.html' %}