<div class="container-fluid mt-2 mb-2 pr-2 pl-2">
    <nav class="navbar subnavbar navbar-expand-lg navbar-dark bg-dark m-auto" style="border-radius: 20px;">

        <a class="navbar-brand" href="#">
            {{ title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubnav" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-angle-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSubnav">
            <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
                {% if type == "list" and type_name == "racuni" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="racunDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle"></i>
                        <span>Dodaj račun</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="racunDropdown">
                        <a class="dropdown-item" href="{% url 'racuni:stvori-djelatnik' %}">
                            <i class="fas fa-plus-circle"></i>
                            <span>Novi djelatnik</span>
                        </a>
                        <a class="dropdown-item" href="{% url 'racuni:stvori-roditelj' %}">
                            <i class="fas fa-plus-circle"></i>
                            <span>Novi roditelj</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    
                </li>
                
                {% elif type == "list" and type_name == "upisi" %}
                {% elif type == "list" and type_name == "vrsta_programa" %}
                {% elif type == "list" and type_name == "programi" %}
                {% elif type == "detail" and type_name == "upisi" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upisi:uredi' upis.id %}">
                        <i class="fas fa-pen text-primary"></i>
                        <span>Odobri/odbaci upis</span>
                    </a>
                </li>
                {% elif type == "form" %}
                {% endif %}
                
            {% else %}

            {% endif %}
                
            </ul>
        </div>
        
    </nav>
</div>

{% include 'messages.html' %}