* {
    font-family: 'Ubuntu', sans-serif;
}

i.fas,
i.fab {
    width: 20px;
    text-align: center;
    padding-right: 2%;
}

.card {
    box-shadow: 0 0 3px;
}

.card.no-shadow {
    box-shadow: none;
}


.navbar-dark .dropdown-toggle {
    color: #fff !important;
    border-radius: 16px;
    transition: all 0.2s;
}


.navbar-dark a.dropdown-toggle[aria-expaned="true"],
.navbar-dark a.dropdown-toggle:hover,
.navbar-dark .dropdown-item:hover i {
    color: #343a40 !important;
    background-color: #fff;
    padding: 7px;
    box-shadow: inset 1px 1px 1px 1px;
}


.navbar-dark .dropdown-item i {
    color: #fff;
}

.navbar-dark .dropdown .dropdown-item i {
    color: #343a40;
}