{% extends 'base.html' %}

{% block body %}
{% include 'partials/sub_navbar.html' with title="Popis svih računa" type="list" type_name="racuni" %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Ime i prezime</th>
                <th class="text-center">Djelatnik</th>
                <th>Tip računa</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for racun in object_list %}
            <tr>
                <td>{{ racun.user.get_full_name }}</td>
                <td class="text-center">
                    {% if racun.je_djelatnik %}
                    <input type="checkbox" class="form-check-input" checked disabled>
                    {% else %}
                    <input type="checkbox" class="form-check-input" disabled>
                    {% endif %}
                </td>
                <td>{{ racun.tip_racuna}}</td>
                <td class="justify-space-between">
                    <a class="text-primary" href="#">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="text-danger" href="#">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}