{% extends 'base.html' %}

{% load static %}

{% block body %}
{% include 'partials/sub_navbar.html' with title="Novi račun" type="form" %}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-title">
                    <h5 class="h5 font-weight-bold">{{ form_title }}</h5>
                </div>
                <form method="post" action="">{% csrf_token %}
                    {% include 'partials/form_snippet.html' %}
                    <button type="submit" class="btn btn-outline-primary">
                        Spremi
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}