{% extends "base.html" %}

{% block body %}
{% include 'partials/sub_navbar.html' with title="Brisanje računa" type="form" type_name="racuni" %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12 text-center mb-3">
            <form method="POST">{% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <fieldset class="form-group">
                        {% if object.tip_racuna.je_roditelj %}
                            <h2>Jeste sigurni da želite izbrisati račun za korisnika "{{ object }}" i svu njegovu djecu?</h2>
                            <ul class="list-group m-auto w-50">
                                {% for dijete in object.dijete_set.all %}
                                <li class="list-group-item text-left">{{ dijete.get_full_name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2>Jeste sigurni da želite izbrisati račun za korisnika "{{ object }}"?</h2>
                        {% endif %}                            
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Da</button>
                            <a href="{% url 'racuni:popis' %}" class="btn btn-danger">Ne</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
