{% extends 'base.html' %}

{% load static %}

{% block body %}
{% include 'partials/sub_navbar.html' with title="Zahtjev za upis" type="detail" type_name="upisi" %}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5 font-weight-bold">Upisnica br. <strong>{{ object.id }}</strong></h5>
                    </div>
                    <div class="card-subtitle text-muted">
                        <h6 class="h6">Datum stvaranja: <strong>{{ object.created_at }}</strong></h6>
                    </div>
                    
                    {% if object.created_at|date:"dmYHi" != object.updated_at|date:"dmYHi" %}
                    <div class="card-subtitle text-muted">
                        <h6 class="h6">Datum uređivanja: <strong>{{ object.updated_at }}</strong></h6>
                    </div>
                    {% endif %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card-title">
                                <h4 class="h4 font-weight-bold">Detalji o odabranom programu</h4>
                            </div>
                            {% for field in detail_form.visible_fields %}
                            {% if forloop.counter <= 2 %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card-title">
                                <h4 class="h4 font-weight-bold">Podaci o roditelju</h4>
                            </div>
                            {% for field in detail_form.visible_fields %}
                            {% if forloop.counter > 2 and forloop.counter <= 6 %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="card-title">
                                <h4 class="h4 font-weight-bold">Podaci o djetetu</h4>
                            </div>
                            {% for field in detail_form.visible_fields %}
                            {% if forloop.counter > 6 %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

const passwordLabels = getLabels(['id_password1', 'id_password2']);
const passwordInputs = getInputs(['id_password1', 'id_password2']);

switchDisplay()

function switchDisplay() {
    elementsSwitchDisplay(passwordLabels);
    elementsSwitchDisplay(passwordInputs);
}

function elementsSwitchDisplay(elements) {
    for (element of elements) {
        if (element.style.display === "none")
            element.style.display = "";
        else
            element.style.display = "none";
    }
}

function getInputs(inputIds) {
    let passwordInputs = [];
    for (inputId of inputIds) {
        let input = document.getElementById(inputId);
        passwordInputs.push(input)
    }
    return passwordInputs;
}

function getLabels(labelForIds) {
    let passwordLabels = [];
    for (labelForId of labelForIds) {
        let label = getLabel(labelForId);
        passwordLabels.push(label);
    }
    return passwordLabels;
}

function getLabel(labelForId) {
    let labels = document.getElementsByTagName('label');
    for (label of labels) {
        if (label.htmlFor == labelForId) {
            return label;
        }
    }
}

</script>

{% endblock body %}